@-webkit-keyframes left-right{0%{-moz-transform:translateY(-20%) translateX(-10%);-ms-transform:translateY(-20%) translateX(-10%);-webkit-transform:translateY(-20%) translateX(-10%);transform:translateY(-20%) translateX(-10%);}
100%{-moz-transform:translateY(0%) translateX(10%);-ms-transform:translateY(0%) translateX(10%);-webkit-transform:translateY(0%) translateX(10%);transform:translateY(0%) translateX(10%);}
}
@-moz-keyframes left-right{0%{-moz-transform:translateY(-20%) translateX(-10%);-ms-transform:translateY(-20%) translateX(-10%);-webkit-transform:translateY(-20%) translateX(-10%);transform:translateY(-20%) translateX(-10%);}
100%{-moz-transform:translateY(0%) translateX(10%);-ms-transform:translateY(0%) translateX(10%);-webkit-transform:translateY(0%) translateX(10%);transform:translateY(0%) translateX(10%);}
}
@-ms-keyframes left-right{0%{-moz-transform:translateY(-20%) translateX(-10%);-ms-transform:translateY(-20%) translateX(-10%);-webkit-transform:translateY(-20%) translateX(-10%);transform:translateY(-20%) translateX(-10%);}
100%{-moz-transform:translateY(0%) translateX(10%);-ms-transform:translateY(0%) translateX(10%);-webkit-transform:translateY(0%) translateX(10%);transform:translateY(0%) translateX(10%);}
}
@keyframes left-right{0%{-moz-transform:translateY(-20%) translateX(-10%);-ms-transform:translateY(-20%) translateX(-10%);-webkit-transform:translateY(-20%) translateX(-10%);transform:translateY(-20%) translateX(-10%);}
100%{-moz-transform:translateY(0%) translateX(10%);-ms-transform:translateY(0%) translateX(10%);-webkit-transform:translateY(0%) translateX(10%);transform:translateY(0%) translateX(10%);}
}
@-webkit-keyframes right-left{0%{-moz-transform:translateY(0%) translateX(10%);-ms-transform:translateY(0%) translateX(10%);-webkit-transform:translateY(0%) translateX(10%);transform:translateY(0%) translateX(10%);}
100%{-moz-transform:translateY(-20%) translateX(-10%);-ms-transform:translateY(-20%) translateX(-10%);-webkit-transform:translateY(-20%) translateX(-10%);transform:translateY(-20%) translateX(-10%);}
}
@-moz-keyframes right-left{0%{-moz-transform:translateY(0%) translateX(10%);-ms-transform:translateY(0%) translateX(10%);-webkit-transform:translateY(0%) translateX(10%);transform:translateY(0%) translateX(10%);}
100%{-moz-transform:translateY(-20%) translateX(-10%);-ms-transform:translateY(-20%) translateX(-10%);-webkit-transform:translateY(-20%) translateX(-10%);transform:translateY(-20%) translateX(-10%);}
}
@-ms-keyframes right-left{0%{-moz-transform:translateY(0%) translateX(10%);-ms-transform:translateY(0%) translateX(10%);-webkit-transform:translateY(0%) translateX(10%);transform:translateY(0%) translateX(10%);}
100%{-moz-transform:translateY(-20%) translateX(-10%);-ms-transform:translateY(-20%) translateX(-10%);-webkit-transform:translateY(-20%) translateX(-10%);transform:translateY(-20%) translateX(-10%);}
}
@keyframes right-left{0%{-moz-transform:translateY(0%) translateX(10%);-ms-transform:translateY(0%) translateX(10%);-webkit-transform:translateY(0%) translateX(10%);transform:translateY(0%) translateX(10%);}
100%{-moz-transform:translateY(-20%) translateX(-10%);-ms-transform:translateY(-20%) translateX(-10%);-webkit-transform:translateY(-20%) translateX(-10%);transform:translateY(-20%) translateX(-10%);}
}
.sy-box.sy-loading{background:url("../images/sy-loader.gif") 50% 50% no-repeat;-moz-background-size:32px;-o-background-size:32px;-webkit-background-size:32px;background-size:32px;min-height:40px;}
.sy-box.sy-loading .sy-slides-wrap, .sy-box.sy-loading .sy-pager{visibility:hidden;}
.sy-slides-wrap{position:relative;height:100%;width:100%; z-index: 0;}
.sy-slides-wrap:hover .sy-controls{display:block;}
.sy-slides-crop{height:100%;width:100%; overflow:hidden;}
.sy-list{width:100%;height:100%;list-style:none;margin:0;padding:0;position:absolute;}
.sy-list.horizontal{-moz-transition:left ease;-o-transition:left ease;-webkit-transition:left ease;transition:left ease;}
.sy-list.vertical{-moz-transition:top ease;-o-transition:top ease;-webkit-transition:top ease;transition:top ease;}
.sy-slide{position:absolute;width:100%;z-index:2;}
.sy-slide.kenburns{width:140%;left:-20%;}
.sy-slide.kenburns.useCSS{-moz-transition-property:opacity;-o-transition-property:opacity;-webkit-transition-property:opacity;transition-property:opacity;}
.sy-slide.kenburns.useCSS.sy-ken:nth-child(1n){-webkit-animation-name:left-right;-webkit-animation-fill-mode:forwards;-moz-animation-name:left-right;-moz-animation-fill-mode:forwards;-o-animation-name:left-right;-o-animation-fill-mode:forwards;animation-name:left-right;animation-fill-mode:forwards;}
.sy-slide.kenburns.useCSS.sy-ken:nth-child(2n){-webkit-animation-name:right-left;-webkit-animation-fill-mode:forwards;-moz-animation-name:right-left;-moz-animation-fill-mode:forwards;-o-animation-name:right-left;-o-animation-fill-mode:forwards;animation-name:right-left;animation-fill-mode:forwards;}
.sy-slide.sy-active{z-index:3;}
.sy-slide > img{margin:0;padding:0;display:block;width:100%;border:0;}
.sy-slide > a{margin:0;padding:0;display:block;width:100%;}
.sy-slide > a > img{margin:0;padding:0;display:block;width:100%;border:0;}
#news-demo{height:0;overflow:hidden;}
.sy-list{height:100%!important;overflow:visible!important;}
.sy-controls{list-style:none;height:100%;width:100%; padding:0;margin:0; z-index:4;}
.sy-controls li{position:absolute;width:10%;min-width:4.2em;height:100%;z-index:33;}
.sy-controls li.sy-prev{left:0;top:0;}
.sy-controls li.sy-prev a:after{background-position:-5% 0;}
.sy-controls li.sy-next{right:0;top:0;}
.sy-controls li.sy-next a:after{background-position:105% 0;}
.sy-controls li a{position:relative;width:100%;height:100%;display:block;text-indent:-9999px;}
.sy-controls li a:link, .sy-controls li a:visited{opacity:0.4;}
.sy-controls li a:hover, .sy-controls li a:focus{outline:none;}
.sy-controls li a:after{content:"";background-image:url("../images/arrows.svg");background-repeat:no-repeat;-moz-background-size:cover;-o-background-size:cover;-webkit-background-size:cover;background-size:cover;text-align:center;text-indent:0;line-height:2.8em;color:#111;font-weight:800;position:absolute;background-color:#fff;width:2.8em;height:2.8em;left:50%;top:50%;border:solid 3px #000000cf;margin-top:-1.4em;margin-left:-1.4em;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.dmca{float:right;}
@media only screen and (max-device-width:600px){.sy-controls{display:block;}
.sy-controls li{min-width:2.1em;}
.sy-controls li a:after{width:1.4em;height:1.4em;margin-top:-0.7em;margin-left:-0.7em;}
}
.sy-caption-wrap{position:absolute;bottom:2em;z-index:12;left:50%;}
.sy-caption-wrap .sy-caption{position:relative;left:-50%;background-color:rgba(0, 0, 0, 0.54);color:#fff;padding:0.4em 1em;-moz-border-radius:1.2em;-webkit-border-radius:1.2em;border-radius:1.2em;}
.sy-caption-wrap .sy-caption a:link, .sy-caption-wrap .sy-caption a:visited{color:#e24b70;font-weight:600;text-decoration:none;}
.sy-caption-wrap .sy-caption a:hover, .sy-caption-wrap .sy-caption a:focus{text-decoration:underline;}
@media only screen and (max-device-width:600px), screen and (max-width:600px){.sy-caption-wrap{left:0;bottom:0.4em;}
.sy-caption-wrap .sy-caption{left:0;padding:0.2em 0.4em;font-size:0.92em;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
}
.sy-pager{overflow:hidden;*zoom:1;display:block;width:100%;margin:1em 0 0;padding:0;list-style:none;text-align:center;}
.sy-pager li{display:inline-block;width:1.2em;height:1.2em;margin:0 1em 0 0;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.sy-pager li.sy-active a{background-color:#e24b70;}
.sy-pager li a{width:100%;height:100%;display:block;background-color:#ccc;text-indent:-9999px;-moz-background-size:2em;-o-background-size:2em;-webkit-background-size:2em;background-size:2em;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.sy-pager li a:link, .sy-pager li a:visited{opacity:1.0;}
.sy-pager li a:hover, .sy-pager li a:focus{opacity:0.6;}
.sy-filler{width:100%;}
.sy-filler.ready{-moz-transition:padding 600ms ease;-o-transition:padding 600ms ease;-webkit-transition:padding 600ms ease;transition:padding 600ms ease;}
.extra-title{color:#ffffff;display:table;margin:auto;position:relative;margin-top:5%;}
.extra-title__top{color:#fff;font-weight:bold;font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;letter-spacing:0.2em;text-transform:uppercase;text-align:center;width:100%;display:block;}
.extra-title h1{display:table;margin:0 auto;text-align:center;padding-bottom:55px;background:url(../images/decor.svg) no-repeat bottom center;}
.extra-title h1 span{color:#fff;font-size:40px;display:block;margin:0.05435em 0 0.32609em;white-space:nowrap;text-align:center;}
.extra-title figure{margin:0;}
.extra-title span.small{display:inline-block;font-size:25px;line-height:1.2em;margin-top:5px;}

.home-banner-caption{
    position: absolute;
    z-index: 3;
    display: block;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0,0,1));
    padding-bottom: 25px;
    padding-top: 25px;
}
.home-banner-caption .title{
    color: #fff;
    margin: 40px 0 0 0;
    /* text-shadow: 0px 3px #131010; */
    padding: 0 0 0 0;
    text-decoration: none;
    font-size: 38px;
    /* font-family: 'Poppins', sans-serif; */
    /* letter-spacing: 1px; */
    /* word-spacing: 5px; */
    /* font-weight: bold; */
}
.home-banner-caption .tagline{
    border-top: solid 2px #fff;
    color: #fff;
    display: table;
    margin: 5px auto 0 auto;
    font-weight: 300;
    /* padding-top: 6px; */
    /* text-shadow: -1px 2px #333; */
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.banner-text-holder{
    margin: auto;
    /*margin-top:12em;*/
}
.home-banner-caption .discover a{
	background:#ae1819;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    display: table;
    border-radius: 33px;
    margin: 15px auto 0 auto;
    padding: 8px 16px;
    border: solid 2px #fff;
}

/*search box css*/
.create-my-app {
    display:none;
    margin:0 auto;
    /*padding:6px;
    display:table;*/
    margin:20px auto 25px auto;
    background: #ffffff69;
    border-radius: 6px;
}
.create-my-app-inner {
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 4px;
}
.create-app-todo {
    margin: 0;
    padding: 0;
    float: left;
    width: 78%;
}
.create-app-todo input[type="text"] {
    border: none;
    padding: 12px;
    color: #000;
    background:#fff url(../images/search-icon.png) no-repeat 6px 4px;
    width: 360px;
    padding-left: 35px;
    display: inline-table;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border: 2px solid rgba(154,154,153,0.35);
}
button.btn-trip {
    background:#e67b06;
    float: right;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 4px 13px;
    border-radius: 0 4px 4px 0;
    color: #353435;
    margin-left: -2px;
}
