.destination-section .box {
    position: relative;
    display: block;
    background: #000;
    margin: 0 -5px 20px -5px;
    overflow: hidden;
}
.destination-section .box img {
    display: block;
    height: auto;
    opacity: 0.8;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    width: 100%;
}
.destination-section .box b {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 20px;
}
section.destination-section {
    float: left;
    padding: 35px 0;
    width: 100%;
}